@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* All navbar content */

#navbar {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 70px;
    box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.47);
    margin-top: 15px;

}

.navbarContainer {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-81 {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(180, 180, 195, 0.45);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
    background-color: #ffdeda;
    color: #fff;
}

.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 20px;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

/* greeting component */

.greetingMsg {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Agbalumo', sans-serif;
    font-size: 20px;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }

    .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}